
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header, nav, main, footer {
    padding: 20px;
}

header {
    background-color: #4e4e4e;
    color: white;
    text-align: center;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-content, .contact-content {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.article {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.section-card {
    display: inline-block;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 20px;
    background-color: #00bbff; /* Couleur pastel */
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}

.section-card:hover {
    background-color: #ddd; /* Changement de couleur au survol */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ff02cc;
    color: white;
    align-items: end;
}

.footer-link {
    display: flex;
    margin: 0 10px;
    cursor: pointer;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup {
    display: none;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 800px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.popup-content {
    padding: 20px;
}